

@keyframes showHeading {
    from {
        transform: translateY(-30px);
        opacity: 0.1;
        font-size: 10px;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



#content{
    padding: 50px 0;
    padding-left: 50px;
    padding-right: 50px;
}

.why-choose-us {
    display: inline-block;
    width: 50%;
    float: left;
}

.why-choose-us-heading {
    font-size: 50px;
}

.why-choose-us-heading .why {
    font-weight: 100;
    color: var(--text-color);
}

.why-choose-us-heading .choose-us {
    color: var(--primary-color);
    font-weight: 800;
}

.why-choose-us-text {
    color: var(--text-color);
    line-height: 1.4;
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
}

.why-choose-us-discription {
    margin-top: 20px;
    margin-left: 20px;
}

.why-choose-us-discription li {
    margin: 10px 0;
    list-style: none;
    color: var(--text-color);
    font-size: 18px;
}

.why-choose-us-discription li i {
    margin-right: 5px;
    color: var(--primary-color);
}

.why-choose-us-how-to {
    display: inline-block;
    float: right;
    width: 50%;
    cursor: pointer;
    padding-left: 50px;
}
.why-choose-us-how-to span {
    font-weight: 600;
    font-size: 1.5rem;
    color: #684f40;
    padding-left: 20px;
    text-transform: uppercase;
}

.why-choose-us-how-to-heading {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    background-color: #eee;
    padding: 10px 0 10px 10px;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}
.why-choose-us-how-to-heading p {
    margin-bottom: 0;
    padding-left: 20px;
}


.why-choose-us-how-to-discription {
    font-size: 18px;
    padding: 10px 0 10px 30px;
    text-align: justify;
    display: none;
    animation: FadeIn2001 ease 1s;
}

@keyframes FadeIn2001 {
    from {
        transform: translateY(-20px);
        opacity: 0.1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section-team {
    margin-top: 50px;
}

.team-heading {
    font-size: 50px;
}

.team-heading .our {
    font-weight: 100;
    color: var(--text-color);
}

.team-heading .teamss {
    color: var(--primary-color);
    font-weight: 800;
}

.card {
    background-color: #eee !important;
    border: none;
    width: 320px;
    border-radius: 25px 25px 25px 25px !important;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    background-color: var(--primary-color);
    border-radius: 25px 25px 0px 25px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    bottom: -40px;
    right: 0;
    border: none;
}

.overlay::after {
    border-radius: 0 25px 0 0 !important;
    background-color: #eee;

}

.card-imge {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
}

.card-imge .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}

.name {
    position: relative;
    z-index: 5;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

.discription {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    position: relative;
    font-size: 18px;
    text-align: justify;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3 ease;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.swiper-navBtn {
    color: var(--primary-color) !important;
    transition: color 0.3 ease;
}

.swiper-navBtn:hover {
    opacity: 0.5;
}

.swiper-navBtn::after,
.swiper-navBtn::before {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color:var(--primary-color) !important;
}

@media screen and (max-width:740px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }
}

.history {
    margin-top: 50px;
}

.history-heading {
    width: 30%;
    color: #fff;
    font-size: 50px;
    float: left;
}

.history-heading .s50-year {
    color: var(--primary-color);
    font-weight: 800;
}

.history-heading .of-experience {
    font-weight: 100;
    color: var(--text-color);
}

.number {
    float: left;
    width: 70%;
}

.numer-count {
    width: 50%;
    float: left;
    padding-left: 55px;
    padding-right: 55px;
}

.numer-count .container-number-count li {
    display: inline-block;
}

.number-auto {
    font-size: 88px;
    font-weight: 100;
    color: var(--primary-color);
}

.numer-count .plus {
    color: var(--text-color);
    font-size: 60px;
    position: relative;
    bottom: 10px;
}

.number-heading {
    font-weight: 700;
    color: var(--text-color);
    font-size: 18px;
    text-transform: uppercase;
}

.number-discription {
    color: #696969;
    line-height: 27px;
    font-size: 18px;
}

.section-feedback {
    margin: 50px 0;
    cursor: pointer;
}

.feedback-heading {
    font-size: 50px;
}

.feed {
    font-weight: 100;
    color: var(--text-color);
}

.back {
    color: var(--primary-color);
    font-weight: 800;
}

.slide-feedback {
    margin-top: 50px;
}

.feedback-card {
    padding: 10px;
    text-align: center;
}

.feedback-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 42%;
}
.feedback_name-section {
    padding: 20px 0 0;
    text-align: inherit;
}
.feedback-name {
    position: relative;
    color: #684f40;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 0;
    font-weight: 700;
}
.feedback-name::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    top: 0;
    background-color: #ddd;
    left: 50%;
    margin-left: -15px;
}
.feedback_name-discription {
    display: block;
    font-size: 1.3rem;
    line-height: 40px;
    color: var(--primary-color);
}

.feedback-address {
    font-style: italic;
    opacity: 0.7;
    font-size: 18px;
}

.feedback-discription {
    color: var(--text-color);
    font-size: 1.6rem;
}

.modal1996.open {
    display: block;
}

.modal1996 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100000;
    display: none;
}

.why-choose-us-how-to-heading:after {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-size: 13px;
    color: #777;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}

.about_question:after {
    content: "\f106";
}

@keyframes modalFadeIn {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.modal-container1996 {
    background-color: #fff;
    height: 100vh;
    width: 300px;
    display: inline-block;
    float: right;
    animation:  modalFadeIn ease 0.7s;
}

.modal-close {
    display: inline-block;
    float: right;
    font-size: 35px;
    padding: 5px 15px;
}

.modal-close:hover {
    background-color: #ccc;
    color: #FFF;
}

.modal1996 .modal-nav li {
    list-style: none;
    cursor: pointer;
    display: block;
}

.modal1996 .modal-nav li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px 40px;
}

.modal1996 .modal-nav li:hover a {
    color: var(--primary-color);
    cursor: pointer;
}

/* tablet 740px - 1023px*/
@media only screen and (min-width:740px) and (max-width:1023px) {

    .feedback-heading,
    .history-heading,
    .team-heading,
    .why-choose-us-heading,
    .header-heading {
        font-size: 40px;
    }
}
/* pc 1024px*/
@media only screen and (min-width: 1024px) {
    .header-menu {
        display: none;
    }
}

/* mobie 739px*/
@media only screen and (max-width: 739px) {
    .numer-count {
        width: 100%;
    }

    .number-auto {
        font-size: 60px;
    }

    .container-number-count .plus {
        font-size: 40px;
    }

    .feedback-heading,
    .history-heading,
    .team-heading,
    .why-choose-us-heading,
    .header-heading {
        font-size: 30px;
    }

}

@media only screen and (min-width:1023px) and (max-width:1110px) {
    .history-heading {
        width: 20%;
    }

    .number {
        width: 80%;
        padding-left: 30px;
    }
}

@media only screen and (min-width:739px) and (max-width:810px) {
    .numer-count {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width:1023px) {
    .header-nav {
        display: none;
    }

    .why-choose-us {
        display: block;
        width: 100%;
    }

    .why-choose-us-how-to {
        display: inline-block;
        width: 100%;
    }

    .history-heading {
        display: block;
        width: 100%;
    }

    .number {
        display: block;
        width: 100%;
        padding-left: -110px;
    }

}